### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup aydinhw
import pandas as pd

# File to Load (Remember to Change These)
file_to_load ="Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

Display the number of players

In [2]:
Player_Totals=purchase_data.loc[:,["SN","Gender","Age",]]
Player_Totals=Player_Totals.drop_duplicates()
Number_of_Players=Player_Totals.count()[0]
pd.DataFrame({"Total Players":[Number_of_Players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_analysis_df=purchase_data.loc[:,["SN","Gender","Age","Item ID","Price","Purchase ID"]]
purchase_analysis_df.head(780)

                SN  Gender  Age  Item ID  Price  Purchase ID
0          Lisim78    Male   20      108   3.53            0
1      Lisovynya38    Male   40      143   1.56            1
2       Ithergue48    Male   24       92   4.88            2
3    Chamassasya86    Male   24      100   3.27            3
4        Iskosia90    Male   23      131   1.44            4
..             ...     ...  ...      ...    ...          ...
775     Aethedru70  Female   21       60   3.54          775
776         Iral74    Male   21      164   1.63          776
777     Yathecal72    Male   20       67   3.46          777
778        Sisur91    Male    7       92   4.19          778
779      Ennrian78    Male   24       50   4.60          779

[780 rows x 6 columns]

In [4]:
items_count=len(purchase_analysis_df["Item ID"].unique())
items_count

179

In [5]:
avg_price=purchase_analysis_df["Price"].mean()
avg_price

3.050987179487176

In [6]:
total_purchases=purchase_analysis_df["Price"].sum()
total_purchases

2379.77

In [7]:
number_of_purchase=len(purchase_analysis_df["Purchase ID"].unique())
number_of_purchase

780

In [8]:
summary_of_purchase_analysis_df=pd.DataFrame({"Number of Unique Items":[items_count],
                         "Average Price":[avg_price],
                         "Number of Purchases":[number_of_purchase],
                         "Total Revenue":[total_purchases]})
summary_of_purchase_analysis_df=summary_of_purchase_analysis_df.round(2)
summary_of_purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
Player_Totals=purchase_data.loc[:,["SN","Gender","Age",]]
Player_Totals=Player_Totals.drop_duplicates()
Number_of_Players=Player_Totals.count()[0]
pd.DataFrame({"Total Players":[Number_of_Players]})

   Total Players
0            576

In [10]:
gender_totals= Player_Totals["Gender"].value_counts()
gender_percents=gender_totals/Number_of_Players*100
Gender_demographicsDF=pd.DataFrame({"Total Count":gender_totals,"Percentage of Players":gender_percents})
Gender_demographicsDF=Gender_demographicsDF.round(2)
Gender_demographicsDF

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_gender_df=purchase_data.loc[:,["Gender","SN","Age","Item ID","Price","Purchase ID"]]
purchase_gender_df.head()

  Gender             SN  Age  Item ID  Price  Purchase ID
0   Male        Lisim78   20      108   3.53            0
1   Male    Lisovynya38   40      143   1.56            1
2   Male     Ithergue48   24       92   4.88            2
3   Male  Chamassasya86   24      100   3.27            3
4   Male      Iskosia90   23      131   1.44            4

In [12]:
demographics=purchase_data.loc[:,["Gender","SN","Age"]]
demographics=demographics.drop_duplicates()
demographics=demographics["Gender"].value_counts()

In [13]:
#total purchase count
gender_count=purchase_gender_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
#average purchase price
average_price=purchase_gender_df.groupby("Gender").mean()["Price"]

average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
#total purchase
total_purchase=purchase_gender_df.groupby("Gender").sum()["Price"]

total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#average total purchases per person
avg_total_purchase=total_purchase/demographics
avg_total_purchase

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [17]:
purchase_gender_df=pd.DataFrame({"Purchase Count":gender_count,
                                        "Average Purchase Price":average_price,
                                         "Total Purchase Value":total_purchase,
                                        "Avg Total Purchase per Person":avg_total_purchase})
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics



# *Establish bins for ages


# * Categorize the existing players using the age bins. Hint: use pd.cut()


# * Calculate the numbers and percentages by age group


# * Create a summary data frame to hold the results


# * Optional: round the percentage column to two decimal points


# * Display Age Demographics Table

In [18]:
#determine min/max of age
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())
#create bins&label
bins=[0,9,14,19,24,29,34,39,46]
bin_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#gruop by age
by_age=purchase_data.groupby(['Age'])

#
by_age_demo_df=purchase_data.copy()
by_age_demo_df["Age Group"]=pd.cut(by_age_demo_df["Age"], bins, labels=bin_labels)
#GROUP BY AGE AND CALCULATE TOTAL COUNT AND PERCENTAGE
age_groupby_df=by_age_demo_df.groupby(["Age Group"])

#number of players count by age group
players_by_age=age_groupby_df["SN"].nunique()

pct_of_players_byage=round(players_by_age/Number_of_Players*100,2)


#display Data
by_age_demo_df=pd.DataFrame({"Total Count":players_by_age,
                            "Percentage of Players":pct_of_players_byage})
by_age_demo_df

#FORMAT %

45
7

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#number of players by age  made purchase
number_purchase_byage=age_groupby_df['SN'].count()

#average purchase by age
avg_price_byagegroup=age_groupby_df["Price"].mean()
#print(avg_price_byagegroup)

#sum of purchase by age group
total_purchase_byagegroup=age_groupby_df['Price'].sum()
#print(total_purchase_byagegroup)

#calculate average total purchase per person using players by age
avg_per_person_byagegroup=total_purchase_byagegroup/players_by_age


#display data 
purchase_analysis_byage_df=pd.DataFrame({"Purchase Count":number_purchase_byage,
                                        "Average Purchase Price":avg_price_byagegroup,
                                        "Total Purchase Value":total_purchase_byagegroup,
                                         "Avg Total Purchase per Person":avg_per_person_byagegroup})
purchase_analysis_byage_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
sn_df=purchase_data.groupby("SN")
price_per_sn=sn_df['Price'].sum()
#print(price_per_sn)
#purchase count by SN
purchase_bysn=sn_df['Price'].count()

#AVERAGE SPENSING BY SN
avg_spending_bysn=price_per_sn/purchase_bysn
#print(avg_spending_bysn)
#DISPLAY DATA

topspender_df=pd.DataFrame({"Purchase Count":purchase_bysn,
               "Average Purchase Price":avg_spending_bysn,
               "Total Purchase Value":price_per_sn})
topspender_df


#sorted by total price per person
sortedtopspender_df=topspender_df.sort_values("Total Purchase Value",ascending=False,inplace=True)
topspender_df


#format with map function
topspender_df["Average Purchase Price"]=topspender_df["Average Purchase Price"].map("${:.2f}".format)
topspender_df["Total Purchase Value"]=topspender_df["Total Purchase Value"].map("${:.2f}".format)
topspender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#create new data base and include only, item id, item name, price
popularitems_df=purchase_data.loc[:,["Item ID","Item Name","Price"]]
#popularitems_df.head()

#group by item id and item name
item_df=popularitems_df.groupby(["Item ID","Item Name"])
#item_df.head()
#purchase count by items
purchase_count_byitem=item_df['Price'].count()
#print(purchase_count_byitem)

#total purchase value 
total_purchase_byitem=item_df['Price'].sum()
#print(total_purchase_byitem)

#average item price
item_price=total_purchase_byitem/purchase_count_byitem
#print(item_price)
#display Data
popularitems_df=pd.DataFrame({'Purchase Count':purchase_count_byitem,
                             'Item Price':item_price,
                             'Total Purchase Value':total_purchase_byitem})
popularitems_df
sortedpopularitems_df=popularitems_df.sort_values('Purchase Count',ascending=False)

#format data 
sortedpopularitems_df['Item Price']=sortedpopularitems_df['Item Price'].map("${:.2f}".format)
sortedpopularitems_df['Total Purchase Value']=sortedpopularitems_df['Total Purchase Value'].map("${:.2f}".format)



sortedpopularitems_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
#SORT BY TOTAL PURCHASE VALUE

sortedpopularitems_df_=popularitems_df.sort_values('Total Purchase Value',ascending=False)

#format data 
sortedpopularitems_df_['Item Price']=sortedpopularitems_df_['Item Price'].map("${:.2f}".format)
sortedpopularitems_df_['Total Purchase Value']=sortedpopularitems_df_['Total Purchase Value'].map("${:.2f}".format)



sortedpopularitems_df_.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80